button{
    margin-left: 5px;
}

.btn-footer{
    margin-right: 5px;
}

.table-actions{
    width: 150px;
}

.content-wrapper{
    background-image: url('../../../img/46dc6aba55acce24953bbc1b09bd674c.png');
    min-height: 88.4vh;
}

.icone-img{
    margin-top: -6px;
}

.box-img{
    border-radius: 20px;
}

.box-img2{
    border: solid #ddd 1px;
    border-radius: 5px;
    padding: 3px;
}

.box{
    opacity: 97%;
}

#listPokedex{
    height: 63rem;
    overflow: auto;
    padding-left: 0px;
    padding-right: 5px;
}

#boxPokedex{
    height: 70rem;
}

#linha{
    position: absolute;
    height: 90%;
    width: 1px;
    background-color: #eee;
}

#listItem{
    height: 70px;
    font-size: 30px;
}

#ul{
    margin-top: 10px;
}



